.main-plan-cards {
    display: flex;
    overflow-x: initial;
    justify-content: center;
}

.main-plan-cards article {
    margin: 15px 10px;
}

.footer-container {
    justify-content: space-around;
}

.footer-links {
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}