:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
 }

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}

.header--title h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title p {
    font-size: 1.4rem;
    margin-top: 25px;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title .header--button {
    position: absolute;
    bottom: calc(50% - 191px);
    right: calc(50% - 114.5px);
    display: block;
    margin-top: 0px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--title span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange .backroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url('./assets/img/bitcoin.svg') center/contain no-repeat;
}

.main-exchange h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--black);
}

.main-exchange p {
    margin-bottom: 30px;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #757575;
}

.main-tables {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-tables h6 {
    width: 80%;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: start;
    letter-spacing: 0.3px;
    margin: 0 auto 15px;
    color: var(--bitcoin-orange);
}

.main-exchange .main-tables .main-tables-update {
    width: 80%;
    margin: 15px auto 0;
    background-color: var(--soft-orange);
    padding: 8px;
    border-radius: 8px;
    overflow: auto;
    color: var(--warm-black);
}

.main-table-container {
    width: 90%;
    margin: 0 auto;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
}

.main-table-container table {
    width: 100%;
    height: 100%;
}

.main-table-container td {
    width: 50%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.main-table-container .table-right {
    font-weight: normal;
    font-size: 1.4rem;
    color: #757575;
    line-height: 1.7rem;
}

.main-table-container .table-top-left {
    border-top-left-radius: 15px;
}

.main-table-container .table-top-right {
    border-top-right-radius: 15px;
}

.main-table-container .table-bottom-left {
    border-bottom-left-radius: 15px;
}

.main-table-container .table-bottom-right {
    border-bottom-right-radius: 15px;
}

.main-table-container .bitcoin-ind {
    display: inline-block;
    background: url(./assets/icons/trending-down.svg) center/cover no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.main-table-container .ethereum-ind {
    display: inline-block;
    background: url(./assets/icons/trending-up.svg) center/cover no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.main-table-container .ripple-ind {
    display: inline-block;
    background: url(./assets/icons/trending-down.svg) center/cover no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.main-table-container .stellar-ind {
    display: inline-block;
    background: url(./assets/icons/trending-down.svg) center/cover no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.main-benefits {
    width: 100%;
    height: auto;
    padding-bottom: 47px;
    background-color: #201E1C;
}

.main-benefits-container {
    width: 90%;
    margin: 0 auto;
}

.main-benefits-container h2 {
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: #FFFFFF;
}

.main-benefits-container p {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: normal;
    color: #808080;
    text-align: center;
}

.main-benefits-container article p {
    text-align: start;
}

.main-benefits-container h6 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #FFFFFF;
}

.main-benefits-container article {
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    background: #282623;
    margin: 16px auto;
    padding: 16px 20px 22px 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.main-benefits-container .benefits-img {
    margin: 0 0 5px 2px;
}

.main-benefits-container .main-benefits-img {
    position: relative;
    top: -12px;
    left: calc(50% - 20.5px);
}

.main-bitcoin-baby {
    min-width: 320px;
    width: 100%;
    height: 60vh;
    text-align: center;
    background: url(./assets/img/bitcoinbaby2x.png) center no-repeat;
    background-size: cover;
}

.main-bitcoin-baby h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    top: 64px;
}

.main-plan {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    height: auto;
    padding: 64px 15px;
}

.main-plan-container {
    text-align: center;
}

.main-plan-container .main-plan-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.main-plan-container > p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}

.main-plan-cards {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.main-plan-cards article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 16px 24px;
    position: relative;
    width: 70%;
    min-width: 210px;
    max-width: 400px;
    min-height: 267px;
    max-height: 300px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.main-plan-cards article > span {
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    display: inline-block;
    position: absolute;
    top: -15px;
    left: calc(50% - 52.5px);
    width: 105px;
    height: 31px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    line-height: 14.52px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

.main-plan-cards article > h6 {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: black;
}

.main-plan-cards .main-plan-price {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 16px;
}

.main-plan-cards .main-plan-price .dollar-icon {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 14.52px;
    font-family: "Inter", sans-serif;
    vertical-align: text-top;
}

.main-plan-cards .main-plan-price .price {
    font-size: 5.2rem;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    line-height: 62.93px;
    letter-spacing: -5px;
}

.main-plan-cards article > p {
    color: #757575;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 14.52px;
    margin-top: 16px;
}

.main-plan-cards article button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAF8F7;
    border: solid 2px #F7931A;
    font-size: 14px;
    border-radius: 4px;
    width: 151px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 16px;
}

.main-plan-cards article .right-arrow {
    display: inline-block;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
}

.footer-container {
    background-color: var(--bitcoin-orange);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 18vh;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-links a {
    text-decoration: none;
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: normal;
}